
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: #0a0a0a;
}

canvas {
  display: block;
}

@media (max-width: 768px) {
  * {
    cursor: auto !important;
  }
}
